# Dependencies
/node_modules
/.pnpm-store
/.yarn/cache
/.yarn/unplugged
/.pnpm-debug.log*
.pnpm-lock.yaml
yarn.lock
package-lock.json

# Next.js & Framework Build Outputs
/.next/
/out/
/build
/dist
/.turbo

# Environment Variables & Secrets (Crucial for Security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
*.pem
*.key
futurex-trade.json

# Service Account & Credentials (Added for security)
*.json
!tsconfig.json
!jsconfig.json

# Debug & Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE / Code Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel Deployment Configs
.vercel

# TypeScript & Coverage
*.tsbuildinfo
/coverage

# Testing / Playwright / Cypress
/cypress/videos
/cypress/screenshots
/test-results

# Project Specific Media & Archive Files
public/gallery/Gallery/*.zip